RSSReader/RssNewsReader/Service References/FeedServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.ServiceModel.Syndication" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetFeed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="feedUrl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.ServiceModel.Syndication" minOccurs="0" name="GetFeedResult" nillable="true" type="q1:Rss20FeedFormatter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FilterFeed">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.ServiceModel.Syndication" minOccurs="0" name="formatterFeed" nillable="true" type="q2:Rss20FeedFormatter" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tags" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FilterFeedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System.ServiceModel.Syndication" minOccurs="0" name="FilterFeedResult" nillable="true" type="q4:Rss20FeedFormatter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfigureEmailSender">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfigureEmailSenderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendFeedToRecipientsByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="recipients" nillable="true" type="q5:ArrayOfstring" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System.ServiceModel.Syndication" minOccurs="0" name="formatter" nillable="true" type="q6:Rss20FeedFormatter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendFeedToRecipientsByEmailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>